<template>
  <div>
    <span>Page limit&nbsp;</span>
    <select v-bind:value="current" v-on:change="changeLimit($event.target.value)"> 
      <option v-for="variant in variants" v-bind:key="variant">{{ variant }}</option>
    </select>
  </div>
</template>

<script>
export default {
    name: 'PageLimiter',
    model: {
        prop: 'current'
    },
    props: {
        current: {
            type: Number,
            required: true
        },
        variants: {
            type: Array,
            default: function() {
                return [1, 5, 10, 15]
            }
        }
    },
    methods: {
        changeLimit: function(newLimit) {
            this.$emit('input', newLimit)
        }
    }
}
</script>
