<template>
  <div>
    <users-table v-bind:table="'users'" v-bind:fields="fields"/>
  </div>
</template>

<script>
export default {
    components: {
        'users-table': () => import('@/components/UsersTableFull.vue')
    },
    data: function() {
        return {
            fields: [{ name: 'lastName', repr: 'Lastname' }, { name: 'phone', repr: 'Phone' }]
        }
    }
}
</script>
