<template>
  <div>
    <users-table v-bind:table="'users'" v-bind:fields="fields" v-bind:editbtn="true"/>
  </div>
</template>

<script>
export default {
    components: {
        'users-table': () => import('@/components/UsersTableFull.vue')
    },
    data: function() {
        return {
            fields: [
                { name: 'firstName', repr: 'Firstname' },
                { name: 'lastName', repr: 'Lastname' },
                { name: 'email', repr: 'email' },
                { name: 'phone', repr: 'Phone' },
                { name: 'registered', repr: 'Registration date' }
            ]
        }
    }
}
</script>
