<template>
  <div class="input-group date">
    <input ref="datePicker" v-bind:value="c_date" type="text" class="form-control">
  </div>
</template>

<script>
import Pikaday from 'pikaday'
import 'pikaday/css/pikaday.css'

export default {
    name: 'DatePicker',
    model: {
        prop: 'c_date'
    },
    props: {
        c_date: {
            type: String,
            default: 'placeholder'
        }
    },
    data: function() {
        return {
            picker: null
        }
    },
    mounted() {
        this.picker = new Pikaday({
            field: this.$refs.datePicker,
            format: 'DD.MM.YYYY',
            firstDay: 1,
            onSelect: () => {
                this.changeDate(this.picker.toString())
            }
        })
    },
    methods: {
        changeDate: function(newval) {
            this.$emit('input', newval)
        }
    }
}
</script>
