<template>
  <textarea ref="editor" class="form-control" rows="3" />
</template>


<script>
import SimpleMDE from 'simplemde'
import 'simplemde/dist/simplemde.min.css'

export default {
    model: {
        prop: 'textData'
    },
    props: {
        textData: {
            type: String,
            required: true
        }
    },
    data: function() {
        return {
            editor: null
        }
    },
    mounted() {
        this.editor = new SimpleMDE({
            element: this.$refs.editor,
            spellChecker: false
        })
        this.editor.value(this.textData)
        this.editor.codemirror.on('change', () => {
            this.$emit('input', this.editor.value())
        })
    },
    beforeDestroy() {
        this.editor.toTextArea()
    }
}
</script>
