<template>
  <div>
    <div v-if="userList">
      <table-filter v-model="filterString" filter-repr="Last Name"/> 
      <users-table v-bind:userslist="userList">
        <template slot="headers">
          <th v-for="field in fields" v-bind:key="field.repr">
            {{ field.repr }}
          </th>
        </template>
        <template slot-scope="slot" slot="content">
          <td v-for="field in fields" v-bind:key="field.name">
            {{ slot[field.name] }}
          </td>
          <td v-if="editbtn"><button 
            type="button" 
            class="blank" 
            v-on:click="showUserEdit(slot.id)"> <img class="icon" src="@/assets/ed.png"></button></td>
        </template>
      </users-table>
      <pagination v-model.number="pageCurrent" v-bind:page-max="pageMax" />
      <page-limit v-model.number="pageLimit" v-bind:variants="[1, 5, 10, 15, 20]" />
    </div>
    <div v-else><h1>Loading...</h1><img src="@/assets/loader.gif"></div>
  </div>
</template>


<script>
import usersTable from '@/components/UsersTable.vue'
import userForm from '@/components/UserForm.vue'
import pagination from '@/components/pagination/Pagination.vue'
import pagelimiter from '@/components/pagination/PageLimiter.vue'
import tableFilter from '@/components/TableFilter.vue'
import axios from '@/axios.js'
import NProgress from 'nprogress'

export default {
    name: 'UsersList',
    components: {
        'users-table': usersTable,
        'user-form': userForm,
        'n-progress': NProgress,
        pagination: pagination,
        'page-limit': pagelimiter,
        'table-filter': tableFilter
    },
    props: {
        table: {
            type: String,
            required: true
        },
        fields: {
            type: Array,
            required: true
        },
        editbtn: {
            type: Boolean,
            default: false
        }
    },
    data: function() {
        return {
            userList: null,
            pageCurrent: 1,
            pageLimit: 5,
            resultsTotal: 0,
            filterString: ''
        }
    },
    computed: {
        pageMax: function() {
            return this.resultsTotal / this.pageLimit > 1
                ? Math.ceil(this.resultsTotal / this.pageLimit)
                : 1
        },
        pageParams: function() {
            return {
                _page: this.pageCurrent,
                _limit: this.pageLimit,
                lastName_like: this.filterString
            }
        }
    },
    watch: {
        pageCurrent: 'loadData',
        pageLimit: 'pageRecalculation',
        filterString: 'pageRecalculation'
    },
    mounted: function() {
        this.loadData()
    },
    methods: {
        showUserEdit: function(uid) {
            this.$router.push({ name: 'edituser', params: { id: uid } })
        },
        pageRecalculation() {
            //избегаем повторного вызова loadData и застревания на несуществующей странице
            if (this.pageCurrent !== 1) this.pageCurrent = 1
            else this.loadData()
        },
        loadData: function() {
            NProgress.start()
            axios
                .get(this.table, { params: this.pageParams })
                .then(response => {
                    this.userList = response.data
                    this.resultsTotal = response.headers['x-total-count']
                    NProgress.done()
                })
                .catch(function(error) {
                    console.log(error)
                })
        }
    }
}
</script>
