<template>
  <div id="app">
    <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <router-link class="navbar-brand" to="/" >
        Vue App
      </router-link>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarCollapse" 
        aria-controls="navbarCollapse" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"/>
      </button>
      <div 
        id="navbarCollapse" 
        class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <router-link 
            tag="li" 
            class="nav-item" 
            to="/" 
            exact>
            <a class="nav-link">
              Users list
            </a>
          </router-link>
          <router-link 
            tag="li" 
            class="nav-item" 
            to="/adduser"
            exact>
            <a class="nav-link">
              Add user
            </a>
          </router-link>
          <router-link 
            tag="li" 
            class="nav-item" 
            to="/phonebrowser"
            exact>
            <a class="nav-link">
              Phone browser
            </a>
          </router-link>
        </ul>
      </div> 
    </nav>

    <main 
      role="main" 
      class="container">
      <div class="jumbotron">
        <router-view/>
      </div>
    </main>
  </div>
</template>
